
h1 , h2 {
    text-align: center;
    color: black;
}
p {
    text-align: center;
    font-size: large;
}
table, th, td {
    border: 1px solid;
  }
  table {
    width: 40%;
  }
  
  th {
    height: 70px;
    text-align: center;
  }
  #table{
    margin-left: auto;
    margin-right: auto;
  }